@use "../../global/index.scss" as *;
.sliderContainer {
    padding: 50px 0;

    .container {
        @include container();
        .row {
            display: flex;
            flex-direction: column;
            row-gap: 50px;

            

            .slider {
                :global(.swiper-slide) {
                    display: flex;
                    height: auto;
                }
                .pagination {
                    @include flex-center(10px);
                    margin-top: 15px;

                    .bullet {
                        width: 10px;
                        height: 10px;
                        cursor: pointer;
                        border-radius: 50%;
                        display: inline-block;
                        background-color: $cardBackground;
                    }

                    .bulletActive {
                        background-color: $primaryColor;
                    }
                }
            }
        }
    }
}
