// ================================== [ COLOR'S ] ==================================
$lightColor: #fff;
$textColor: #5C5C64;
$titleColor: #151934;
$primaryColor: #8258D5;
$lightBackground: #FAF9FE;

// ================================== [ GRAIENT'S ] ==================================
$backgroundGradient: linear-gradient(135deg, #d1b3ff, #7a4de9);
// ================================== [ FONT'S ] ===================================
$logoFont: "Poppins", sans-serif;
$titleFont: "Inter", sans-serif;
$textFont: "Manrope", sans-serif;

// ================================== [ SIZE'S ] ===================================
$contentWidth: 1280px;


// ================================== [ OTHER'S ] ===================================
$transition: all 0.3s;