@use "../../../global/index.scss" as *;

.btn {
    @include button();
    opacity: 0;
    right: 30px;
    bottom: 30px;
    padding: 30px;
    z-index: 9999;
    position: fixed;
    visibility: hidden;
    border-color: $primaryColor;
    background: $backgroundGradient;
    transition: $transition linear;
    .lottie {
        position: absolute;
        inset: 0;
        margin: auto;
        max-width: 100px;
    }

    &.active {
        visibility: visible;
        opacity: 1;
    }
}
